<form (ngSubmit)="addTask()">
  <div class="form-control">
    <h3>Add New Task</h3>
    <label for="text"> Task</label>
    <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add Task"/>
    <label for="day"> Date & Time</label>
    <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Add Date & Time"/>
    <label for="remainder">Set Remainder</label>
    <input type="checkbox" name="remainder" [(ngModel)]="remainder" id="remainder" />
    <input type="submit" value="Save Task" id="submit" />
  </div>
</form>
